accelerate
azureml-core
azureml-dataset-runtime
diffusers
einops
hydra-colorlog
hydra-core
imbalanced-learn
itk
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
matplotlib
mlflow
monai
nibabel
omegaconf
pydicom
pytorch-ignite==0.4.12
rich
scikit-image
scikit-learn
timm==0.9.7
torch==2.1.2+cu118
torchvision==0.16.2+cu118
tqdm
transformers==4.39.0
xlrd