azureml-core
azureml-dataset-runtime
einops
hydra-colorlog
hydra-core
imbalanced-learn
itk
matplotlib
mlflow
monai
nibabel
omegaconf
pydicom
pytorch-ignite
rich
scikit-image
scikit-learn
torch
torchvision
tqdm
xlrd
